@font-face { font-family: Alien; src: url('../fonts/Alien-Encounters-Regular.ttf'); }
@font-face { font-family: Body; src: url('../fonts/neuropol.ttf'); }

.gameTitle {
    font-family: Alien;
    font-size: 10vh
}
/* RADIO BUTTON STYLING HELP FROM STACKOVERFLOW */
input[type="radio"]:after {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    left: -1px;
    position: relative;
    background-color: #151836;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
input[type="radio"]:checked:after {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    left: -1px;
    position: relative;
    background-color: #6ccaf0;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
.lvlContainer {
    margin-bottom: 1%;
    font-size: 2.5vh;
}
input.start {
    color: rgb(252, 185, 0);
    background: none;
    font-size: 3vh;
    font-family: 'Body';
    outline: none;
    border: none;
    margin-bottom: 1%;
    border-radius: 10%;
}
input.start:hover {
    text-shadow: 0 0 5px rgb(255, 238, 0);
}

.scoreBoard {
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 3vh;
}
.scoreBoardTitle {
    margin-top: 5.8%;
    margin-right: 5%
}
p {
    line-height: 0;
}
/* BG IMG FROM https://unsplash.com/photos/BGXnAx-E2Gw */
/* PERSONAL IMG EDIT DONE IN VIEW */
body{
    height: 100vh;
    width: 100vw;
    color: white;
    background-image: url('../img/mountainbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Body';
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#yellow {
    height: 30vh;
    width: 40vw;
    background: rgb(150, 150, 0);
    outline: none;
    border:1px solid black;
}
#blue {
    height: 30vh;
    width: 40vw;
    background: rgb(0, 0, 150);
    outline: none;
    border:1px solid black;
}
#red {
    height: 30vh;
    width: 40vw;
    background: rgb(150, 0, 0);
    outline: none;
    border:1px solid black;
}
#green {
    height: 30vh;
    width: 40vw;
    background: rgb(0, 73, 0);
    outline: none;
    border:1px solid black;
}

.lightOn {
    filter:brightness(200%);
}