@font-face { font-family: Alien; src: url('fonts/Alien-Encounters-Regular.ttf'); }
@font-face { font-family: Body; src: url('fonts/[z] Arista Light Trial.ttf'); }

.gameTitle {
    font-family: Alien;
    font-size: 10vh
}
label {
    font-family: Body;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#yellow {
    height: 40vh;
    width: 40vw;
    background: rgb(150, 150, 0)
}
#blue {
    height: 40vh;
    width: 40vw;
    background: rgb(0, 0, 150)
}
#red {
    height: 40vh;
    width: 40vw;
    background: rgb(150, 0, 0)
}
#green {
    height: 40vh;
    width: 40vw;
    background: rgb(0, 73, 0)
}

.lightOn {
    filter:brightness(200%);
}